#menu
{ 
  position:fixed;
  background:#ffffff;
  z-index:3000;
  width:120px;
  height:100%;
  border:2px solid #e1e1e1;
  margin-left:-35px;
}
 ul#top-menu
{   width:100%;
  display:block;
  list-style:none;
  
}
 li 
{
width:100%;
height:90px;
display:block;
text-align:center;
border-bottom:1px solid #e1e1e1;
text-decoration:none;

}
 li a
{
  width: 100%;
  height: 100%;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
  display: block;
  text-decoration:none;
  line-height:90px;
  /*-webkit-transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99);
  transition: all 0.3s cubic-bezier(0.24, 0.63, 0.5, 0.99);*/ 
}
 li  a:hover

{ 
  width:100%;
  background: #3c948b;
  color: #ffffff;
  text-decoration:none;

}
ul#contact
{
  margin-top:100px;
}
ul#contact li 
{ width:100%;
  background:#ffffff;
  border-bottom:0px solid #ffffff;
  display:block;
  margin-top:0px;
  padding-top:-10px;
}
ul#contact a:hover
{
  background:#ffffff;
  color:#3c948b;
}
/*    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background:#ffffff;
    z-index:3000;
    border:2px solid #e1e1e1;
    height:50px;
    width:100%;
}*/
ul#contact li i
{
  font-size:2em;
}
.image
{
  margin-left:85px;
  width:93.7%;
  height:100%;
  
}
.image img
{
  width:100%;
  height:100%;
}
.cv
{
  background:transparent;
  margin-top:-360px;
  margin-left:700px;
 

}
.cv h1
{
  color:white;
  font-family:Lobster;
  font-size:3em;
}
button
{
  margin-left:-260px;
  background-color:transparent;
  font-size:2em;
  width: 400px;
  margin-top:20px;
  
  font-family:;
}
.cv a
{
  font-family:Lobster;
  color:#ffffff;
  

}

